@import '../../assets/styles';

$block: '.bz-block';

#{$block} {
  @include flex(flex, column);
  
  @include desktop_small {
    @include flex(flex, row, nowrap, flex-start, baseline);
  }

  &__title {
    margin-top: 5px;
    color: $grey-4;
    font-size: 13px;
    font-weight: 400;
    line-height: 13px;

    @include desktop_small {
      min-width: 100px;
      display: block;
    }
  }
}
