@mixin defaults {
  box-sizing: border-box;
  margin: $margin-default;
  padding: $padding-default;
}

@mixin border-radius(
  $top-left: 1rem,
  $top-right: 1rem,
  $bottom-left: 1rem,
  $bottom-right: 1rem) {
  border-radius: $top-left $top-right $bottom-left $bottom-right;
  -moz-border-radius: $top-left $top-right $bottom-left $bottom-right;
  -webkit-border-radius: $top-left $top-right $bottom-left $bottom-right;
}


@mixin box-shadow(
  $shadow-color: $shadow-black,
  $horizontal: 0px,
  $vertical: 0px,
  $blur-radius: 10px,
  $spread-radius: 0px) {
  box-shadow: $horizontal $vertical $blur-radius $spread-radius $shadow-color;
  -webkit-box-shadow: $horizontal $vertical $blur-radius $spread-radius $shadow-color;
  -moz-box-shadow: $horizontal $vertical $blur-radius $spread-radius $shadow-color;
}

@mixin desktop_large {
  @media (min-width: 1681px) {
    @content;
  }
}

@mixin desktop_medium {
  @media (min-width: 1441px) {
    @content;
  }
}

@mixin desktop_small {
  @media (min-width: 769px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 376px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 375px) {
    @content;
  }
}

@mixin ie {
  @media screen and (min-width: 0 \0) and (min-resolution: +72dpi) {
    @content;
  }
}

@mixin flex(
  $display: flex,
  $direction: row,
  $wrap: nowrap,
  $justify: flex-start,
  $align-items: flex-start,
  $aligncontent: stretch
) {
  display: $display;
  flex-direction: $direction;
  flex-wrap: $wrap;
  justify-content: $justify;
  align-content: $aligncontent;
  align-items: $align-items;
}
